.dashboard-container {
    padding: 30px;
    background-color: cadetblue;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 5px solid black;
  }
  
  .logout-button {
    padding: 8px 16px;
    background-color: black;
    color: bisque;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .logout-button:hover {
    background-color: black;
  }
  
  .car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
  }
  
  .car-card {
    padding: 30px;
    border: 5px solid black;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }